<div class="table table-small">
  <input type="text" [(ngModel)]='busca' name="busca" placeholder="Nome do produto..." (ngModelChange)="change($event)">

</div>
<table class="table table-small">

  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">NOME</th>
      <th scope="col">QUANTIDADE</th>
      <th scope="col">PREÇO</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let produto of produtos">
      <th scope="row">{{produto.id}}</th>
      <td>{{produto.nome}}</td>
      <td>{{produto.quantidade}}</td>
      <td>R$ {{produto.preco}}</td>
    </tr>

  </tbody>
</table>