/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';


body {
  // background-image: linear-gradient(109.6deg, rgba(61, 237, 253, 1) 44.2%, rgba(3, 136, 238, 1) 95.6%);
  background-color: #81ecec;
 align-items: center;
 text-align: center;
}

#container{
  background: rgb(255, 254, 254);
}